*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3d64e6;
}
.container{
    background-color: #ffffff;
    padding:  3em 2.5em;
    position: absolute;
    transform: translate(-50% -50%);
    top: 50%;
    left: 30%;
    right: 30%;
    width: 80vm;
    max-width:37.5em;
    border-radius: 10px;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);


}